.c-form{
    max-width: 642px;
    background-color: $white;
    padding: 24px 48px;
    border-radius: 32px;
    margin-top: 80px;
    position: relative;
    &__title{
        //font-family: 'Open Sans', sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: $orange;
        position: relative;
        margin-bottom: 35px;
        &:after {
            content: '';
            background-image: url('images/linea-azul.png');
            background-size: contain;
            background-repeat: no-repeat;
            max-width: 208px;
            height: 15px;
            display: block;
        }
    }
    &__row {
        margin-bottom: 13px;
        label{
            color: $gray;
            //font-family: 'Open Sans';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal; 
            display: block;       
        }
        .form-control{
            border-radius: 6px;
            //border: 1px solid $gray;
            padding: 8px 16px;
        }
        select{
            background-image: url('images/arrow.png');
            background-repeat: no-repeat;
            background-position: right;
        }
        .c-control{
            display: flex;
            align-items: center;
        }
        .note{
            //font-family: 'Open Sans';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            color: #595959;
            text-align: center;
        }
    }
    &__image{
        background-image: url('images/cyberdays-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 129px;
        height: 129px;
        position: absolute;
        top: -40px;
        right: -15px;
        @media (max-width: 480px){
            width: 90px;
            height: 90px;
        }

    }
}

.success-form {
    color: $orange;
    font-size: 25px;
    padding: 80px 0;
    text-align: center;
    &__header{
        margin-bottom: 40px;
    }
    &__text{
        color: #003383;
        font-size: 18px;
    }
}

.margin-bottom {
    margin-bottom: 70px;
}
