extends ../layout/layout

block settings
    
block content
    .content
        section.incorporate
            .content-steps
                .o-container
                    ul.steps
                        li.steps__item.is-active
                            span.steps__text Recomendante
                        li.steps__item
                            span.steps__text Datos Personales
                        li.steps__item
                            span.steps__text Contacto
                        li.steps__item
                            span.steps__text Dirección
                        li.steps__item
                            span.steps__text Vista Preliminar
                        li.steps__item
                            span.steps__text Incorporación
                .container
                    .detail-steps
                        a(class="btn-back" href="personal-information.html") Volver
                        .row
                            .col-md-12
                                header.headline
                                    h1.headline__title.headline__title--orange 
                                        i.icon.icon-mobile
                                        | Contacto
                        .row
                            .col-md-12
                                .c-form
                                    label.c-form__description Gracias <span>Maria José,</span> por favor ingresa tu celular y tu e-mail:
                                    .c-form__row
                                        .row
                                            .col-md-6
                                                .c-form__row
                                                    input(type="text" id="" name="" class="c-form__input c-form__input--width c-form__input--value padding-label")
                                                    label.focus-label Número de Celular
                                                    span.c-form__span Ejemplo: 0987654321
                                            .col-md-6
                                                .c-form__row
                                                    input(type="text" id="" name="" class="c-form__input c-form__input--width c-form__input--value padding-label")
                                                    label.focus-label E-mail
                                                    span.c-form__span Ejemplo: abc@abc.com
                                            .col-md-12
                                                .c-form__button.c-form__button--margin-top
                                                    a(href="address-map.html" class="button button--orange") Sigamos                                                    
    script(src="javascript/test.js")                            
                