extends ../layout/layout

block settings
    
block content
    .content
        section.incorporate
            .content-steps
                .container
                    .detail-steps
                        .row
                            .col-md-12
                                header.headline
                                    h1.headline__title.headline__title--orange Crédito
                            .col-md-12
                                .block
                                    p.block__description Comunícate con tu Directora para empezar tu proceso de forma presencial.
                                    .block__info
                                        p.block__text ¡Nuestro crédito nace con la finalidad de hacer crecer tu negocio!
                                        p.block__text ¿Como funciona?
                                        p.block__text Yanbal te da un crédito para que puedas hacer tu primer pedido. Además nuestro crédito te permite pagarlo después de que hayas vendido y cobrado a tus clientes, y lo mejor de todo es que no tiene que pagarlo antes!
                                        p.block__text Podrás recibir un kit de bienvenida, para que puedas empezar con fuerza tu negocio.
                                    .block__button
                                        a(href="https://www.yanbal.com" class="button button--orange button--width") Ir a Yanbal.com

