extends ../layout/layout

block settings
    
block content
    .content
        section.incorporate
            .content-steps
                .container
                    .detail-steps.detail-steps--no-border
                        .row
                            .col-md-12
                                header.headline
                                    h1.headline__title.headline__title--orange ups...
                            .col-md-12
                                .block
                                    .block__info.block__info--no-border
                                        p.block__text Nuestros sistemas se encuentran en mantenimiento.
                                        p.block__text Por favor comunícate con tu Directora para terminar tu proceso de crédito.
                                    .block__button
                                        a(href="#" class="button button--orange button--width") ir a yanbal.com

