extends ../layout/layout

block settings
    
block content
    .c-modal.active
        .c-modal__content.c-modal__content--transparent
            .c-modal__body.text-center         
                i.icon.icon-update
                h2.c-modal__body-title.c-modal__body-title--white Validando...