extends ../layout/layout

block settings
    
block content
    .content
        section.incorporate
            .content-steps
                .container
                    .detail-steps.detail-steps--no-border
                        .row
                            .col-md-12
                                header.headline
                                    h1.headline__title.headline__title--orange éxito
                            .col-md-12
                                .block
                                    .block__info.block__info--no-border
                                        p.block__text ¡Excelente, María José tus validaciones son correctas!
                                        p.block__text Recibirás un SMS con la confirmación de aprobación de tu crédito Yanbal.
                                        p.block__text Recuerda revisar tu e-mail y comunicate con tu Directora para terminar tu proceso de crédito.
                                    .block__button
                                        a(href="#" class="button button--orange button--width") catálogo yanbal

