extends ../layout/layout

block settings
    
block content
    .content
        section.incorporate
            .content-steps
                .container
                    .detail-steps.detail-steps--no-border
                        .row
                            .col-md-12
                                header.headline
                                    h1.headline__title.headline__title--orange ¡Bienvenido Nuevamente, María!
                            .col-md-12
                                .block
                                    .block__info.block__info--no-border
                                        p.block__text.block__text--fontsize Nos encanta que vuelvas..
                                        p.block__text.block__text--fontsize Ahora continuemos con tu incorporación
                                    .block__button.block__button--buttons
                                        a(href="#" class="button button--outlined") Nueva incorporación
                                        a(href="#" class="button button--orange") Continuar