.credit-request{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    .headline{
        margin-bottom: 70px;
        &__title{
            font-size: 24px;
        }
    }
    &__body{
        text-align: center;
    }
    &__name{
        color: $yanbal-color;
        font-family: 'proxima_nova_abold';
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    &__description{
        color: #444444;
        font-family: 'proxima_nova_amedium';
        margin-bottom: 32px;
        text-align: left;
        span{
            color: $yanbal-color;
            display: inline-block;
            margin-right: 5px;
        }
        &--center{
            text-align: center;
        }
    }
    &__buttons{
        text-align: center;
        padding-top: 10px;
        .button{
            margin: 10px;
        }
    }
}