$white: #ffffff;
$black: #000000;
$primary: #428bca;
$button-color: #e5b753;
$black-color: #000000;
$dark-gray: #444444;
$yanbal-color: #ff6900;
$yanbal-color-gradient: linear-gradient(180deg, #ff6900 0%, #f9423a 100%);
$orange: #D43E36;
$gray-color: #f7f7f7;

/** Fonts **/
$proxima-nova-bold: 'proxima_nova_abold';
$proxima-nova-medium: 'proxima_nova_amedium';
/*****************************************/