.c-form{
  &__description{
    color: #444444;	
    font-family: 'proxima_nova_amedium';
    font-size: 18px;	
    font-weight: 500;	
    line-height: 22px;
    display: block;
    margin-bottom: 32px;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  &__row{
    position: relative;
    margin-bottom: 32px;
    &--num-doc{
      margin-bottom: 55px;
      @media (max-width: 768px) {
        margin-bottom: 25px;
      }
    }
    &--pt-57{
      padding-top: 57px;
      @media (max-width: 768px) {
        padding: 0
      }
    }
  }
  &__span{
    color: #999999;	
    font-family: 'proxima_nova_amedium';
    font-size: 14px;	
    font-weight: 500;	
    line-height: 24px;
    display: block;
    &--position{
      position: relative;
    }
    &--text-size{
      color: #444444;
      font-size: 18px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  &__inner{
    position: relative;
    max-width: 410px;
    //max-width: 356px;
    .icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      &.icon-search{
        font-size: 30px;
        right: 12px;
      }
      &.icon-ask{
        font-size: 40px;
        right: 4px;
        cursor: pointer;
      }
    }    
    .c-form{
      &__input{
        padding-right: 45px;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
  &__input{
    font-family: 'proxima_nova_amedium';
    font-size: 16px;
    max-width: 410px;
    width: 100%;
    height: 50px;	
    border: 1px solid #999999;
    border-radius: 2px;
    //padding: 17px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    color: #444444;
    position: relative;
    background-color: transparent;
    appearance: none;
    transition: all 0.5s ease-out;
    &:focus{
      box-shadow: 0 0 10px #eabeb0;
      border: 1px solid #eabeb0;
    }
    &:focus + .focus-label,
    &.has-val + .focus-label{
        top: 6px;
        font-size: 10px;
    }
    &--select{
      color: #999999;
      /*> option{
        &:hover{
          background-color: red;
        }
      }*/
      
      option{
        color: #444444;
        background-color: white;
        &:hover{
          background-color: orange;
        }
      }
    }
    &.error{
      border: 1px solid #F92D2D;
      ~ .alert-box .alert-box__icon--error{
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }
    &.valid{
      border: 1px solid #0CBF3C;
      ~ .alert-box .alert-box__icon--valid{
        opacity: 1;
        visibility: visible;
        left: -32px;
      }
    }
    &.loading{
      ~ .alert-box .alert-box__icon--loading{
        opacity: 1;
        visibility: visible;
        left: -64px;
      }
    }
    &--width{
      max-width: 356px;
      @media (max-width: 1200px){
        width: 72%;
      }
      @media (max-width: 767px){
        width: 80%;
      }
    }
  }
  &__select{
    position: relative;
    .icon-arrow-down{
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      font-size: 32px;
      @media (max-width: 480px){
        font-size: 20px;
      }
    }
    &--width{
      max-width: 410px;
    }
  }
  &__button{
    text-align: center;
    &--margin-top{
      margin-top: 55px;
      @media (max-width: 480px){
        margin-top: 45px;
      }
    }
    &--next{
      display: none;
    }
    .button{
      @media (max-width: 480px){
        width: 100%;
      }
    }
  }
  &__title{
    color: #444444;	
    font-family: 'proxima_nova_abold';
    font-size: 18px;	
    font-weight: bold;	
    line-height: 26px;
    margin-bottom: 30px;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  &__label{

  }
  &__document-type{

  }
  &__document-item{
    display: none;
    padding-top: 30px;
    border-top: 1px solid #F92D2D;
    @media (max-width: 767px){
      border: none;
      padding: 0;
    }
    &.active{
        display: block;
    }
  }
  .icon-ask{
    font-size: 40px;
    position: absolute;
    top: 6px;
    right: calc(100% - 255px);
    color: #999999;
    cursor: pointer;
    @media (min-width: 1200px) {
      right: calc(100% - 356px);
    }
    @media (max-width: 992px) {
      right: calc(100% - 356px);
    }
    @media (max-width: 480px) {
      right: 20%;
    }
  }
}

.no-padding-right{
  @media (max-width: 768px) {
    padding-right: 0;
  }
}
.no-padding-left{
  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.focus-label{
  color: #999999;
  font-family: 'proxima_nova_amedium';
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 13px;
  top: 15px;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Estilo para ocultar flechas nativas del select en IE11 */
select::-ms-expand {
  display: none;
}

/* Estilo para separar los datos de entrada del placeholder(label) */
.padding-label{
  padding-top: 17px;
  padding-bottom: 5px;
}