footer.footer
    .container-fluid
        .footer__top
            .row
                .col-md-9
                    .row
                        .col-md-4
                            .footer__col.footer__col--left
                                h4 Conócenos
                                ul.footer__nav
                                    li.footer__item
                                        a(href="#" class="footer__links") Quiénes Somos
                                    li.footer__item
                                        a(href="#" class="footer__links") Nuestros Orgullos
                                    li.footer__item
                                        a(href="#" class="footer__links") Historia
                                    li.footer__item
                                        a(href="#" class="footer__links") Sostenibilidad
                                    li.footer__item
                                        a(href="#" class="footer__links") Ética y Transparencia
                        .col-md-4
                            .footer__col.footer__col--middle
                                ul.footer__nav
                                    li.footer__item
                                        a(href="#" class="footer__links footer__links--bold") Si eres consultora, ingresa aquí
                                    li.footer__item
                                        a(href="#" class="footer__links footer__links--bold") OPORTUNIDADES LABORALES                     
                        .col-md-4
                            .footer__col.footer__col--right
                                h4 Contáctanos
                                ul.footer__nav
                                    li.footer__item
                                        a(href="#" class="footer__links") Escríbenos
                                    li.footer__item
                                        a(href="#" class="footer__links") Llámanos: 0801-13131
                .col-md-3
                    .footer__social
                        .social-buttons
                            .social-buttons__items
                                a(href="#", target="_blank" class="social-buttons__item")
                                    i.icon-fill-facebook
                                a(href="#", target="_blank" class="social-buttons__item")
                                    i.icon-fill-instagram                                       
                                a(href="#", target="_blank" class="social-buttons__item")
                                    i.icon-fill-youtube
        .footer__bottom
            .footer__inner
                .row
                    .col-md-5
                        .footer__copyright
                            span.footer__copyright-icon
                                i.icon-isotipo
                            p.footer__copyright-text © 2019 Yanbal
                    .col-md-7
                        ul.footer__terms
                            li
                                a(href="#") Términos y Condiciones
                            li
                                a(href="#") Protección de Datos Personales
                            li
                                a(href="#") Código Corporativo de Etica
                            li
                                a(href="#") Código de Conducta
                            li
                                a(href="#") Proveedores
                            li
                                a(href="#") Código de Etica CAPEVEDI
                            li
                                a(href="#") Quiz CAPEVEDI