header.main-header
    nav.main-nav.main-nav--top
        .container
            .row
                .col-xs-12.col-md-3
                    a(href="#" class="main-nav__text-link") Elige la oportunidad Unique. Incorpórate aquí
                .col-xs-12.col-md-6.text-center
                    .main-nav__text
                        p FREE Standard Shipping on customer orders over $75
                .col-xs-2.col-md-3                     
    nav.main-nav.main-nav--middle
        .container.full-width
            .row
                .col-xs-2.col-md-3
                    button(class="menu-mobile" id="js-toggle-mobile")
                                span.menu-mobile__bar.menu-mobile__bar--top
                                span.menu-mobile__bar.menu-mobile__bar--middle
                                span.menu-mobile__bar.menu-mobile__bar--bottom                
                    a(href="#" class="main-nav__text-search") Find a Style Advisor
                .col-xs-7.col-md-5
                    .main-nav__logo
                        a(href="#")
                            img(src="images/yanbal-logo.svg")
                .col-xs-3.col-md-4
                    .main-nav__icons
                        .row
                            .col-xs-2.col-md-2
                                a(href="#" class="main-nav__icon")
                                    i.icon-bag
                            .col-xs-2.col-md-2
                                a(href="#" class="main-nav__icon main-nav__icon--line")
                                    i.icon-wishlist
                            .col-xs-4.col-md-4.no-mobile
                                a(href="#" class="main-nav__icon")
                                    span.main-nav__icon-user
                                        i.icon-profile
                                    span.main-nav__icon-text Sign in / <br> Register
    nav.main-nav.main-nav--bottom
        ul.main-nav__list
            li.main-nav__item
                a(href="#" class="main-nav__link main-nav__link--profile")
                    span Login or Register
            li.main-nav__item
                a(href="#" class="main-nav__link") What´s New
            li.main-nav__item 
                a(href="#" class="main-nav__link") Makeup
            li.main-nav__item
                a(href="#" class="main-nav__link") Fragances
            li.main-nav__item
                a(href="#" class="main-nav__link") Jewelry
            li.main-nav__item
                a(href="#" class="main-nav__link") Sale
            li.main-nav__item  
                a(href="#" class="main-nav__link") Online Only
            li.main-nav__item.main-nav__item--separation
                a(href="#" class="main-nav__link main-nav__link--bold") Catalog
            li.main-nav__item  
                a(href="#" class="main-nav__link main-nav__link--bold") Become a Style Advisor
            li.main-nav__item  
                a(href="#" class="main-nav__link main-nav__link--bold") About us
        span.btn-close
            i.icon-close